$black: #222;
$red: #c63722;
$white: #fff;
$whitesmoke: #d5d5d5;

html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: $black;
	color: #fff;
	margin: 0;
	padding: 0;
}

* {
	transition: all 0.2s ease-out 0s;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

label {
	margin-top: 3rem;
}

input {
	margin-bottom: 1rem !important;
}

.title {
	padding-top: 25vh;
	text-align: center;

	span {
		color: $red;
	}
}

.walleet {
	display: block;
	text-align: center;

	label {
		display: block;
		color: $whitesmoke;
		font-size: 2rem;
	}

	input {
		border: none;
		background-color: $whitesmoke;
		color: $black;
		display: block;
		font-family: 'Roboto', 'Helvetica', sans-serif;
		margin: 0 auto;
		padding: 0.5rem 1rem;
		text-align: center;
		width: 15rem;

		&:focus {
			background-color: $white;
			outline: none;
			width: 25rem;
		}

		&:hover {
			background-color: $white;
		}
	}

	button {
		background-color: $red;
		border: none;
		color: $white;
		outline: none;
		letter-spacing: 3px;
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		width: 15rem;

		&:hover {
			background-color: lighten($red, 10%);
		}

		&:active {
			background-color: darken($red, 10%);
		}
	}
}

.file-list {
	max-width: 33vw;
	margin: 3rem auto 0 auto;

	> * {
		padding: 0.5rem 1rem;
	}

	> *:nth-child(odd) {
		text-align: right;
		border-right: 1px solid $red;
	}

	> *:nth-child(even) {
		text-align: left;
	}

	> *:nth-child(4n), *:nth-child(4n-1) {
		background-color: lighten($black, 5%);
	}

	.file-list-title {
		border-bottom: 1px solid $red;
		font-weight: 700;
	}
}

.notification {
	position: absolute;
	top: 1rem;
	right: 1rem;

	animation-name: fade-in;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-delay: 0s;
}

small {
	color: $whitesmoke !important;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}