
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.2s ease-out 0s;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

label {
    margin-top: 3rem;
}

input {
    margin-bottom: 1rem !important;
}

.hello-world {
    display: block;
    padding-top: 25vh;
    text-align: center;
}

.hello-world label {
    display: block;
    color: #d5d5d5;
    font-size: 2rem;
}

.hello-world input {
    border: none;
    background-color: #d5d5d5;
    color: #222;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 15rem;
}

.hello-world input:focus {
    width: 25rem;
}

.notification {
    position: absolute;
    top: 1rem;
    right: 1rem;

    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

small {
    color: #d5d5d5 !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}